In [42]:
import numpy as np
import pandas as pd
import os
from sklearn.linear_model import LogisticRegression
from scipy.special import expit, logit
from sklearn.metrics import roc_auc_score

In [43]:
sub1=pd.read_csv('LGB_0.802.csv') #0.802

In [44]:
sub1.columns=['SK_ID_CURR', 'TARGET1']

In [45]:
sub1['log1']=sub1['TARGET1'].apply(lambda x: np.log(x))

In [46]:
sub2=pd.read_csv('XGB_0.799.csv') #0.799

In [47]:
sub2.columns=['SK_ID_CURR', 'TARGET2']

In [48]:
sub2['log2']=sub2['TARGET2'].apply(lambda x: np.log(x))

In [49]:
dfs = [sub1, sub2]

In [50]:
df_final = reduce(lambda left,right: pd.merge(left,right,on='SK_ID_CURR'), dfs)

In [51]:
df_final.head()

   SK_ID_CURR   TARGET1      log1   TARGET2      log2
0      100001  0.035208 -3.346493  0.037246 -3.290220
1      100005  0.123098 -2.094777  0.179133 -1.719628
2      100013  0.042919 -3.148452  0.037100 -3.294148
3      100028  0.042507 -3.158081  0.042990 -3.146790
4      100038  0.155571 -1.860652  0.167688 -1.785649

In [52]:
df_final[['log1', 'log2']].corr()

          log1      log2
log1  1.000000  0.985214
log2  0.985214  1.000000

In [53]:
df_final[['TARGET1', 'TARGET2']].corr()

          TARGET1   TARGET2
TARGET1  1.000000  0.982211
TARGET2  0.982211  1.000000

In [54]:
# AVERAGE MEAN

In [55]:
sub_avgen = pd.DataFrame()

In [56]:
sub_avgen['SK_ID_CURR'] = sub1['SK_ID_CURR']

In [57]:
sub_avgen['TARGET']=np.exp((df_final['log1']+df_final['log2'])/2.0)

In [58]:
sub_avgen.to_csv('sub_avgen.csv',index=False)

In [59]:
sub_avgen2 = pd.DataFrame()

In [60]:
sub_avgen2['SK_ID_CURR'] = sub1['SK_ID_CURR']

In [61]:
sub_avgen2['TARGET']=(df_final['TARGET1']+df_final['TARGET2'])/2.0

In [62]:
sub_avgen2.to_csv('sub_avgen2.csv',index=False)

In [81]:
############################################

In [104]:
#weighted

In [105]:
sub_weien = pd.DataFrame()

In [106]:
sub_weien['SK_ID_CURR'] = sub1['SK_ID_CURR']

In [107]:
0.799+0.802

1.601

In [108]:
#可以调整每个model的比例，只要最终是100

In [109]:
sub_weien['TARGET']=np.exp(1.495/1.601*df_final['log1']+0.106/1.601*df_final['log2'])

In [110]:
sub_weien.to_csv('sub_weighted-log14-1.csv',index=False)

In [111]:
sub_weien2 = pd.DataFrame()

In [112]:
sub_weien2['SK_ID_CURR'] = sub1['SK_ID_CURR']

In [113]:
sub_weien2['TARGET']=1.495/1.601*df_final['TARGET1']+0.106/1.601*df_final['TARGET2']

In [114]:
sub_weien2.to_csv('sub_weighted14-1.csv',index=False)